.footer {
    background-color: $color-primary;
    display: flex;
    align-items: center;
    height: 16rem;

    &__logo {
        width: 20rem;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__list {
        display: inline-block;
        padding: 0;
        list-style: none;
        margin: 0;
        width: 100%;
        padding-left: 10rem;
    }

    &__item {
        width: calc(100% / 4);
        display: inline-block;
        padding-left: 2rem;
    }

    &__link {
        display: block;
        @include font($Mso5,1.6rem,$color-white);
        

        &:hover{
            text-decoration: none;
            color: $color-grey-dark;
        }

        &::before{
            content: ".";
            margin-right: .5rem;
            color: $color-white;
            font-size: 2rem;
        }
        
    }
    &__sosial{
        margin-top: 2rem;
        & a{
            background-color: $color-primary;
            color: $color-white;
            padding: 1rem;
            padding-top: 1.5rem;
            text-decoration: none;
            border-radius: .2rem;
            transition: all .3s;

            &:hover{
                text-decoration: none;
                color: $color-white;
                background-color: $color-secondary;
            }
        }

     
    }

}
