.searchModal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-secondary, 0.76);
    z-index: 6;
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    transform: scale(.97);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;

    &__title {
        @include font($Mso5, 4rem, $color-white);
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

    &__form {
        background-color: $color-white;
        padding: 4rem 6rem;
        margin-top: 3rem;
        max-width: 66%;
        max-height: 75%;
        margin: auto;

        & p {
            @include font($Sgui, 1.6rem, $color-primary);
            text-align: center;
        }
    }

    &__link {
        display: block;
        height: 7rem;
        margin-top: 3rem;
        background-color: $color-primary;
        color: $color-white;
        border: 1px solid $color-primary;
        transition: all 0.3s;
        @include font($Mso5, 2rem, $color-white);
        text-align: center;
        &:hover {
            background-color: $color-white;
            color: $color-secondary;
        }

        &:active,
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    &__input {
        height: 7rem;
        width: 50%;
        border: none;
        @include font($Mso5, 2rem, $color-primary);
        padding-left: 2rem;
        margin-bottom: 3rem;
        margin-top: 1rem;
        background-color: $color-grey-light;

        &:active,
        &:focus {
            outline: none;
            box-shadow: none;
        }

        &::placeholder {
            color: $color-primary;
        }

        &--1 {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__close {
        display: block;
        width: 4rem;
        height: 4rem;
        margin-left: auto;
        margin-right: 14%;

        &:hover {
            text-decoration: none;
        }
    }

    &__icon {
        position: relative;
        left: 20rem;

        width: 2rem;
        top: -0.3rem;
        display: inline-block;
    }

    &__select {
        height: 7rem;
        background-color: $color-grey-light;
        border: none;
        @include font($Mso5, 2rem, $color-primary);
        text-align: center;
        &:active,
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}

.searchShow {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
