.headerCard{
    width: 18rem;
    height: 19rem;
    display: block;
    transition: all .3s;
    margin: 0 auto;

    @include respondmax(s){
        width: 16.5rem;
    }

    @include respondmax(s){
        width: 14rem;
    }

    &__img{
        width: 100%;
        height: 12rem;

        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    &__text{
        width: 100%;
        height: 7rem;
        background-color: $color-primary;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: .8rem;
        transition: all .3s;
        

        & p{
            @include font($Sgui,1.3rem,$color-white);
            padding: .5rem;
            text-align: center;
        }
    }

    &:hover{
        transform: translateY(-5px);
        box-shadow: 0 0 2rem -4px rgba($color-shadow,.4);
        text-decoration: none;

        .headerCard__text{
            background-color: $color-secondary;
        }
    }
}