.newsCard {
    display: block;

    width: 36rem;
    height: 51rem;
    background-color: $color-white;
    border-radius: 0.2rem;
    box-shadow: 0 0 1rem -3px rgba($color-shadow, 0.3);
    transition: all .4s;
    margin: 0 auto;


    @include respondmax(lg){
        width: 26rem;
        height: 42rem;
    }

    @include respondmax(sm){
        width: 100%;
    }

    &__img {
        width: 100%;
        height: 21rem;
        position: relative;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include respondmax(lg){
            height: 17rem;
        }
    }

    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color-black, 0.5);
        transition: all .4s;
    }

    &__bottom {
        position: relative;
        padding: 3rem 1.5rem 2.5rem 3.5rem;

        @include respondmax(lg){
            padding: 1rem .8rem 1.8rem 2.5rem;

        }
        & h5 {
            @include font($Sgui, 2rem, $color-primary);
            margin: 1rem 0;
            font-weight: 600;

            @include respondmax(lg){
                font-size: 1.8rem;
    
            }
        }

        

        & p {
            text-align: left !important;
            margin: 1rem 0;
        }

        & span {
            @include font($Sgui, 1.6rem, $color-primary);

            @include respondmax(lg){
                font-size: 1.3rem;    
            }
        }

        & .fakeButton {
            width: 17rem;
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            padding-left: 1rem;
            border: 1px solid $color-primary;
            background-color: $color-primary;
            @include font($Sgui, 1.6rem, $color-white);
            border-radius: 0.3rem;
            transition: all .3s;
            margin-top: 3rem;

            &:hover{
                background-color: $color-white;
                color: $color-primary;
            }

            @include respondmax(lg){
                margin-top: 1rem;
                
 
            }

            @include respondmax(sm){
                margin-right: auto;
            }
        }
    }

    &:hover {
        text-decoration: none;
        transform: translateY(-5px);
        box-shadow: 0 0 1.5rem -3px rgba($color-shadow, 0.5);


        .newsCard__overlay{
            opacity: 0;
        }
    }
}
