<footer class="footer">
  <div class="container">
    <div class="row">


      <div class="col p-0">
        <div class="footer__logo">
          <img src="img/logo2.png" alt="">

        </div>
      </div>
      <div class="col-9 ml-auto p-0">
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">
              ANA SƏHİFƏ
            </a>
            <a href="#" class="footer__link mt-3">
              MİLLƏT VƏKİLİ HAQQINDA
            </a>
          </li>


          <li class="footer__item">
            <a href="#" class="footer__link">
              XƏBƏRLƏR
            </a>
            <a href="#" class="footer__link mt-3">
              TƏDBİRLƏR
            </a>
          </li>

          <li class="footer__item">
            <a href="#" class="footer__link">
              FOTO VƏ VİDEO GALEREYA
            </a>
            <a href="#" class="footer__link mt-3">
              ƏLAQƏ
            </a>
          </li>

        </ul>
      </div>
      <div class="col">
        <div class="footer__sosial">
          <a href="#">
            <i class="fab fa-twitter fa-2x"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook-f fa-2x"></i>
          </a>
          <a href="#">
            <i class="fas fa-play fa-2x"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin-in fa-2x"></i>
          </a>

        </div>
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="libs/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>

<!-- font awesome -->
<script src="libs/Font-Awesome/js/all.js"></script>

<!-- owl carousel -->
<script src="libs/owl.carousel/dist/owl.carousel.js"></script>

<!-- jquery ui -->
<script src="libs/jquery-ui/jquery-ui.js"></script>

<!-- fancybox -->
<script src="libs/fancybox/dist/jquery.fancybox.js"></script>



<!-- all js -->
<script src="js/all.min.js"></script>


<!-- Yandex Map -->

<script src="https://api-maps.yandex.ru/2.1/?a9ce94fd-8bd9-4816-83f2-679185e13502
key&lang=en_US" type="text/javascript">
</script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>