<header class="header">
    <div id="myHeader">
        <div class="container">
            <nav class="navbar myNav navbar-expand">
                <ul class="navbar-nav">
                    <div class="navDropdown">
                        <li class="nav-item hvr-sweep-to-right">
                            <a class="nav-link" href="#">YENİ AZƏRBAYCAN PARTİYASI</a>
                        </li>
                        <div class="navDropdown__content">
                            <li class="navDropdown__item hvr-sweep-to-right ">
                                <a class="navDropdown__link" href="#">ÜMUMMİLLİ LİDER</a>
                            </li>
                            <li class="navDropdown__item  hvr-sweep-to-right">
                                <a class="navDropdown__link" href="#">SƏDR</a>
                            </li>
                            <li class="navDropdown__item  hvr-sweep-to-right">
                                <a class="navDropdown__link" href="#">PARTİYA HAQQINDA</a>
                            </li>
                            <li class="navDropdown__item  hvr-sweep-to-right">
                                <a class="navDropdown__link" href="#">RƏHBƏR STRUKTUR</a>
                            </li>
                            <li class="navDropdown__item  hvr-sweep-to-right">
                                <a class="navDropdown__link" href="#">PARTİYAYA QƏBUL</a>
                            </li>
                        </div>
                    </div>
                    <li class="nav-item hvr-sweep-to-right">
                        <a class="nav-link" href="#">MİLLƏT VƏKİLİ HAQQINDA</a>
                    </li>
                    <li class="nav-item hvr-sweep-to-right">
                        <a class="nav-link active" href="#">XƏBƏRLƏR</a>
                    </li>
                    <li class="nav-item hvr-sweep-to-right">
                        <a class="nav-link" href="#">FOTO VƏ VİDEO GALEREYA</a>
                    </li>
                    <li class="nav-item hvr-sweep-to-right">
                        <a class="nav-link" href="#">ƏLAQƏ</a>
                    </li>

                </ul>
                <div class="header__right ml-auto">
                    <a href="#" class="header__searchLink ">
                        <img src="img/search.png" alt="" class="img-fluid">
                    </a>
                    <div class="langDropdown" data-toggle="collapse" href="#langCollapse" role="button"
                        aria-expanded="false" aria-controls="langCollapse">
                        <a class=" nav-link langDropdown__firstLink">
                            AZ
                        </a>
                        <div class="collapse" id="langCollapse">
                            <a href="#" class="langDropdown__link nav-link">En</a>
                            <a href="#" class="langDropdown__link nav-link"> Ru</a>
                        </div>
                    </div>
                </div>

            </nav>
            <div class="mobMenu" id="wrapper">
                <div class="menu">
                    <ul class="mob">
                        <li class="mob__item "><a class="mob__link hvr-sweep-to-right" href="#">YENİ AZƏRBAYCAN
                                PARTİYASI</a>
                        </li>
                        <li class="mob__item "><a class="mob__link hvr-sweep-to-right" href="#">MİLLƏT VƏKİLİ
                                HAQQINDA</a>
                        </li>
                        <li class="mob__item "><a class="mob__link hvr-sweep-to-right" href="#">XƏBƏRLƏR</a></li>
                        <li class="mob__item "><a class="mob__link hvr-sweep-to-right" href="#">FOTO VƏ VİDEO
                                GALEREYA</a>
                        </li>
                        <li class="mob__item "><a class="mob__link hvr-sweep-to-right" href="#">ƏLAQƏ</a></li>

                    </ul>
                    <div class=" d-flex mt-5 justify-content-around">
                        <a href="#" class="footer__sosialLink mob__link">
                            Az
                        </a>
                        <a href="#" class="footer__sosialLink mob__link">
                            En
                        </a>
                        <a href="#" class="footer__sosialLink mob__link">
                            Ru
                        </a>
                    </div>
                </div>
                <div class="content">
                    <div class="button">
                        <div class="line first top"></div>
                        <div class="line second bottom"></div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="headerTop">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="headerTop__logo">
                <img src="img/logo1.png" class="img-fluid" alt="">
            </div>


            <div class="headerTop__right">
                <h1 class="headerTop__title">
                    17 SAYLI YASAMAL ÜÇÜNCÜ SEÇKİ DAİRƏSİNİN DEPUTATI
                </h1>
                <img src="img/logo2.png" class="img-fluid" alt="">
            </div>

        </div>

    </div>

    <div class="header__Slider">
        <div class="container">
            <div class="owl-carousel headerCarousel owl-theme">
                <div class="item">
                    <a href="#" class="headerCard">
                        <div class="headerCard__img">
                            <img src="img/heyder.png" alt="">
                        </div>
                        <div class="headerCard__text">
                            <p>
                                ÜMUMİLLİ LİDER
                            </p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="headerCard">
                        <div class="headerCard__img">
                            <img src="img/ilham.png" alt="">
                        </div>
                        <div class="headerCard__text">
                            <p>
                                AZƏRBAYCAN RESPUBLİKASININ PREZİDENTİ
                            </p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="headerCard">
                        <div class="headerCard__img">
                            <img src="img/mehriban.png" alt="">
                        </div>
                        <div class="headerCard__text">
                            <p>
                                AZƏRBAYCAN RESPUBLİKASININ BİRİNCİ VİTSE-PREZİDENTİ
                            </p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="headerCard">
                        <div class="headerCard__img">
                            <img src="img/bayraq.png" alt="">
                        </div>
                        <div class="headerCard__text">
                            <p>
                                AZƏRBAYCAN
                            </p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="headerCard">
                        <div class="headerCard__img">
                            <img src="img/qarabag.png" alt="">
                        </div>
                        <div class="headerCard__text">
                            <p>
                                VİRTUAL QARABAĞ
                            </p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="headerCard">
                        <div class="headerCard__img">
                            <img src="img/bina.png" alt="">
                        </div>
                        <div class="headerCard__text">
                            <p>
                                MİLLİ MƏCLİS
                            </p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="#" class="headerCard">
                        <div class="headerCard__img">
                            <img src="img/merkez.png" alt="">
                        </div>
                        <div class="headerCard__text">
                            <p>
                                HEYDƏR ƏLİYEV MƏRKƏZİ
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="searchModal">
        <div class="container">
            <h3 class="searchModal__title">
                Elnur ALLAHVERDİYEVƏ müraciət edin.
            </h3>
            <a href="# " class="searchModal__close">
               <img src="img/close.png" alt="">
            </a>

            <div class="searchModal__form">
                <p>
                    Hörmətli vətənadaşlar, aşağıdakı məlumatları dolduraraq siz sayt daxilində açar söz və ya Elnur
                    Allahverdiyevin sizin yaşadığınız ərazinin deputatı olması haqqında axtarış apara bilərsiniz.
                </p>
                <div class="form-group">
                    <form>
                        <input type="text" placeholder="AÇAR SÖZ DAXİL EDİN"
                            class="col-md-5 searchModal__input--1 searchModal__input  mx-auto">
                        <a href="#" class="searchModal__icon">
                            <img src="img/search.png" alt="" class="img-fluid">

                        </a>
                        <hr class="searchModal__line">
                        <input type="text" class=" searchModal__input col-md-5" placeholder="AD VƏ SOYAD">
                        <input type="text" class=" searchModal__input col-md-5 offset-md-1"
                            placeholder="ŞƏXSİYYƏT VƏSİQƏSİNİN NÖMRƏSİ">


                        <select class="searchModal__select col-md-5">
                            <option>ÜNVAN SEÇİN</option>
                            <option>Saab</option>
                            <option>Opel</option>
                            <option>Audi</option>
                        </select>
                        <select class="searchModal__select offset-md-1 col-md-5">
                            <option>DALAN SEÇİN</option>
                            <option>Saab</option>
                            <option>Opel</option>
                            <option>Audi</option>
                        </select>

                        <button class="searchModal__link col-md-5 mx-auto">
                            AXTAR
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</header>