/* Fonts */
$aznb:jaznb; 
$Mso5:Museo500-Regular;
$Mso7:Museo700-Regular;
$Sgui:SegoeUI;

/* Colors */
$color-primary: #006678;
$color-secondary:#003b51;

$color-white:#fff;
$color-black:#000;

$color-shadow:#040712;


$color-grey-light:#f8f8f8;
$color-grey-dark:#95a1a8;